h1, h2, h3, h4, h5 {
  width: fit-content;
  margin: auto;
}
h1, h3 {
  color: var(--third-color);
  filter: brightness(1.5);
  text-shadow: 0 0 .1em var(--secondary-color);
}
h2, h4 {
  color: var(--third-color);
  filter: brightness(1.5);
  text-shadow: 0 0 .1em var(--fourth-color);
}
.link {
  text-decoration: none;
  color: var(--fifth-color);
}
div.search {
  width: fit-content;
  margin: auto;
}
div.searchwrapper {
  width: fit-content;
  margin: auto;
  text-align: center;
}
div.navcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--fourth-color);
  width: fit-content;
  margin: 0 auto 2em auto;
  border-radius: 1em;
  box-shadow: inset 0 0 1em var(--primary-color), 0 0 .25em var(--fifth-color);
  border: .15em solid var(--third-color);
}
button.nav {
  cursor: pointer;
  padding: 1em;
  font-weight: 900;
  color: var(--fifth-color);
  background-color: var(--third-color);
  text-shadow: 0 0 .1em var(--secondary-color);
  box-shadow: 0 0 .5em var(--primary-color), inset 0 0 .75em var(--primary-color);
  border: .25em solid var(--secondary-color);
  border-radius: 1.5em;
  font-size: 100%;
  margin: .25em;
}
button.active {
  background-color: var(--secondary-color);
  color: var(--fifth-color);
  text-shadow: 0 0 .1em var(--third-color);
  font-weight: 900;
  border: .25em solid var(--third-color);
  border-radius: 1.5em;
}
input[type="file"] {
  display: none;
}
input[type="text"] {
  border-radius: 1em;
  font-weight: 900;
  font-size: 125%;
  text-align: center;
  background-color: var(--fourth-color);
  padding: .5em 0;
  border: .25em solid var(--third-color);
} 
div.page_nav {
  width: fit-content;
  margin: auto;
}
button[type="submit"] {
  padding: 1em;
  font-weight: 900;
  border-radius: 1.5em;
  background-color: var(--third-color);
  color: var(--fourth-color);
  cursor: pointer;
  border: .25em solid var(--fourth-color);
}
button.page_toggle, button.rostertab, button.leaguetab {
  display: inline;
  margin: 1em 3em;
  background-color: inherit;
  border: unset;
  padding: .5em;
  color: var(--fourth-color);
  text-shadow: 0 0 .25em var(--secondary-color);
  filter: brightness(2);
  font-weight: 900;
  font-size: 125%;
  cursor: pointer;
}
button.page_toggle.active, button.rostertab.activetab, button.leaguetab.active {
  background-color: var(--fourth-color);
  color: var(--third-color);
  text-shadow: 0 0 .1em var(--primary-color);
  border-radius: 2em;
  box-shadow: inset 0 0 4em var(--primary-color), 0 0 .25em var(--fifth-color);
  border: .25em solid var(--secondary-color);
}
caption > button {
  cursor: pointer;
  padding: .5em;
  font-size: 75%;
  font-weight: 900;
  color: var(--third-color);
  background-color: var(--fifth-color);
  text-shadow: 0 0 .1em var(--primary-color);
  box-shadow: 0 0 .5em var(--primary-color), inset 0 0 .75em var(--primary-color);
  border: .1em solid var(--fourth-color);
  border-radius: 1.5em;
  font-size: 100%;
  margin: .25em;
}
table.summary {
  width: fit-content;
  margin: 2em auto 2em auto;
  background-color: var(--secondary-color);
  color: var(--fourth-color);
  text-align: center;
  font-weight: 700;
  border-radius: 2em;
  border: .25em solid var(--third-color);
  box-shadow: 0 0 .25em var(--fifth-color), inset 0 0 1.25em var(--primary-color);
  text-shadow: 0 0 .25em var(--third-color);
  border-spacing: 1em;
}
table.main {
  background-color: var(--secondary-color);
  margin: auto;
  width: 95vw; 
  max-width: 1250px; 
  padding: 0 0 1em 0;
  border-radius: 2em;
  text-shadow: 0 0 .1em var(--third-color);
  border: .15em solid var(--fourth-color);
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 0;
  box-shadow: 0 0 .75em var(--third-color), inset 0 0 2em var(--primary-color);
  table-layout: fixed;
}
table.main th, table.black th {
  color: var(--third-color);
  padding: 1em .5em;
  filter: brightness(1.5);
}
table.main th {
  text-shadow: 0 0 .1em var(--primary-color);
}
table.black th {
  text-shadow: 0 0 .1em var(--secondary-color);
}
tr.hover {
  box-shadow: inset 0 0 1em var(--primary-color);
  height: 4em;
}
tr.hover:hover, tr.active{
  cursor: pointer;
  background-color: var(--third-color);
  color: var(--fifth-color);
  text-shadow: 0 0 .25em var(--primary-color);
  box-shadow: 0 0 .5em var(--fifth-color);
}
tr.hover:hover img.thumbnail, tr.hover.active img.thumbnail {
  border: .25em solid var(--fourth-color);
  box-shadow: 0 0 .25em var(--fourth-color);
}
img.thumbnail {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 50%;
  border: .25em solid var(--third-color);
  box-shadow: 0 0 .25em var(--fifth-color);
}
input.updated_dv {
  border-radius: 2em;
  border: .1em solid var(--primary-color);
  padding: .25em;
  font-size: 100%;
  width: 4em;
  font-weight: 900;
  text-align: center;
  background-color: var(--fourth-color);
  color: var(--third-color);
  box-shadow: inset 0 0 1em var(--primary-color), 0 0 1em var(--primary-color);
}
tr.black {
  background-color: var(--primary-color);
  box-shadow: inset 0 0 1em var(--third-color);
  text-shadow: 0 0 .1em var(--third-color);
}
table.black {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  
}
tr.hoverblack {
  box-shadow: inset 0 0 1em var(--secondary-color);
  height: 4em;
}
tr.hoverblack:hover, tr.hoverblack.active {
  background-color: var(--fourth-color);
  color: var(--third-color);
  font-weight: 900;
  box-shadow: unset;
  cursor: pointer;
}
tr.roster {
  box-shadow: inset 0 0 1em var(--fourth-color);
}
div.leagueplayers, div.positionplayers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
div.rostercolumn {
  margin: 0 1.5em;
  min-width: 25%;
}
div.roster_player img, div.roster_player p {
  display: inline;
  margin: auto;
  vertical-align: middle;
  
}
div.roster_player {
  height: 4em;
  text-align: left;
}
div.picks_season {
  display: inline-block;
  vertical-align: top;
  margin: 1em;
}
.modified {
  outline: .25em solid var(--third-color);
}
.clickable {
  cursor: pointer;
}
.smaller {
  font-size: 85%;
}
em.dv {
  color: var(--fourth-color);
  filter: brightness(2);
  text-shadow: none;
  font-weight: 900;
}
div.roundrow {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
tr.active2 {
  background-color: var(--secondary-color);
}
div.checkboxes {
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-top: 2em;
}
input[type="checkbox"] {
  appearance: none;
  color: currentColor;
  background-color: var(--third-color);
  margin: .5em;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: .05em solid var(--secondary-color);
  border-radius: .15em;
  display: grid;
  place-content: center;
  box-shadow: inset 0 0 .25em var(--primary-color), 0 0 .25em var(--fifth-color);
}
input[type="checkbox"]::before {
  content: "";
  width: .65em;
  height: .65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--fourth-color);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
  transform: scale(1.2);
}
label.script {
  display: inline-flex;
  flex-direction: column;
  margin: .25em 1em;
  text-shadow: 0 0 .1em var(--third-color);
}
div.leaguewrapper {
  width: fit-content;
  margin: auto;
}
div.leaguewrapper img, div.leaguewrapper p {
  display: block;
  margin: auto;
}
div.leaguewrapper p {
  transform: translateY(-2em);
  height: fit-content;
  width: fit-content;
  text-shadow: 0 0 1.5em var(--third-color);
  color: var(--fourth-color);
  font-weight: 900;
  filter: brightness(2);
}
div.leaguewrapper img {
  filter: brightness(0.25);
}
tr.hoverblack:hover div.leaguewrapper p {
  color: var(--third-color);
  text-shadow: 0 0 .5em var(--secondary-color);
  filter: brightness(2);
}
tr.rosters {
  vertical-align: top;
}
.roster_player {
  white-space: nowrap;
  overflow: scroll;
}