.App {
  text-align: center;
}
.clickable:hover {
  cursor: pointer;
}
.updated_value.modified {
  outline: .5em solid var(--third-color);
}
.updated_value {
  border: none;
}
button.nav {
  background-color: var(--third-color);
  border: .25em solid var(--secondary-color);
  border-radius: 1.5em;
  color: var(--fifth-color);
  font-size: 100%;
  font-weight: 900;
  margin: .25em;
  padding: 1em;
}
button.active {
  background-color: var(--secondary-color);
  outline: 2px solid var(--fourth-color);
}
table.summary {
  background-color: var(--secondary-color);
  border-radius: 2em;
  border-spacing: 1em;
  font-weight: 700;
  margin: 2em auto;
  max-width: 500px;
  min-width: 250px;
  width: fit-content;
  outline: 2px solid var(--fourth-color);
}

table.main {
  background-color: var(--secondary-color);
  border-spacing: 0;
  border-radius: 2em;
  margin: auto;
  max-width: 1000px;
  min-width: 250px;
  padding: .5em;
  table-layout: fixed;
  text-shadow: 0 0 .2em var(--third-color);
  width: 95%;
  outline: 2px solid var(--fourth-color);
  box-shadow: inset 0 0 2em var(--primary-color);
}
table.main > tbody > tr > th {
  color: var(--third-color);
}
table.main > tbody > tr {
  box-shadow: 0 0 .5em var(--primary-color);
}

table.secondary {
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  background-color: var(--primary-color);
}
table.secondary > tbody > tr {
  box-shadow: 0 0 0.5em var(--fifth-color);
}
tr.tertiary {
  background-color: var(--third-color);
  color: var(--secondary-color);
  vertical-align: top;
}
tr.hover:hover, tr.active {
  background-color: var(--fifth-color);
  color: var(--third-color);
}
tr.hover_black:hover, tr.hover_black.active {
  background-color: var(--fourth-color);
  color: var(--third-color)
}
td.left, div.roster_player {
  text-align: left;
}
tr.roster_player:hover {
  background-color: var(--primary-color);
  color: var(--fourth-color);
  text-shadow: unset;
}
div.roster_player img, div.roster_player p {
  display: inline;
  vertical-align: middle;
}
img.thumbnail {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 2em;
  border: .25em solid var(--third-color);
  box-shadow: 0 0 .25em var(--fifth-color);
}
input.updated_value {
  width: 50%;
}
table.rostercolumn {
  border-spacing: 0;
  display: inline-flex;
  margin: 0.5em;
  background-color: var(--fourth-color);
}
table.rostercolumn > tbody > tr {
  box-shadow: 0 0 .5em var(--primary-color);
}
div.picks_season {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: .5em;
}
em {
  color: var(--fourth-color);
  font-weight: 900;
  text-shadow: none;
}
.black {
  background-color: black;
  opacity: .95;
}
p.draft_pick:hover {
  background-color: var(--primary-color);
  color: var(--fifth-color)
}

input {
  width: 10em;
  margin: auto;
  text-align: center;
  padding: .5em 1em;
  font-weight: 900;
  background-color: var(--fourth-color);
  color: var(--third-color);
  font-size: 1em;
  border: unset;
}
h1, h2, h3, h4, h5 {
  width: fit-content;
  margin: auto;
  text-align: center;
  height: fit-content;
}
h1, h3 {
  color: var(--third-color);
  filter: brightness(1.5);
  text-shadow: 0 0 .1em var(--secondary-color);
}
h2, h4 {
  color: var(--third-color);
  filter: brightness(1.5);
  text-shadow: 0 0 .1em var(--fourth-color);
}
.link, button.navbutton {
  text-decoration: none;
  color: var(--fifth-color);
  background-color: transparent;
  border: none;
}
.link {
  float: left;
}
button.navbutton {
  float: right;
  font-weight: 900;
}
button.navbutton.active {
  background-color: var(--fourth-color);
  color: var(--third-color);
}
.slidercontainer {
  display: flex;
  justify-content: center;
  font-size: 100%;
  padding: 1em;
}
.slider {
  margin: 1em;
  border-radius: 2em;
  background-color: var(--third-color);
  border: .25em solid var(--fourth-color);
}
span.option button {
  border: none;
  background: transparent;
}
span.option button, span.selected button {
  font-size: 100%;
  padding: 1em;
  color: var(--fifth-color);font-weight: 900;
}
span.selected button {
  border-radius: 2em;
  border: .25em solid var(--fourth-color);
  background-color: var(--secondary-color);
  box-shadow: 0 0 1em var(--primary-color);
}
div.checkboxes {
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-top: 2em;
}
input[type="checkbox"] {
  appearance: none;
  color: currentColor;
  background-color: var(--third-color);
  margin: .5em;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: .05em solid var(--secondary-color);
  border-radius: .15em;
  display: grid;
  place-content: center;
  box-shadow: inset 0 0 .25em var(--primary-color), 0 0 .25em var(--fifth-color);
}
input[type="checkbox"]::before {
  content: "";
  width: .65em;
  height: .65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--fourth-color);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
  transform: scale(1.2);
}
label.script {
  display: inline-flex;
  flex-direction: column;
  margin: .25em 1em;
  text-shadow: 0 0 .1em var(--third-color);
}
input.fileupload {
  display: none;
}
label.file {
  padding: 1em;
  background-color: var(--fifth-color);
  border-radius: 2em;
  color: var(--third-color);
  font-weight: 900;
  border: .25em solid var(--fourth-color);
  box-shadow: inset 0 0 1em var(--primary-color);
}
button.file {
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-right: 2em;
}
button.clear {
  background-color: var(--fifth-color);
  padding: 1em;
  border-radius: 2em;
  color: var(--third-color);
  font-weight: 900;
  border: .25em solid var(--fourth-color);
  box-shadow: inset 0 0 1em var(--primary-color);
}
button.rostertab, button.player_leagues {
  padding: 1em;
  background-color: transparent;
  border: none;
  font-weight: 900;
  color: var(--fifth-color);
  margin: 1em;
}
button.rostertab.active {
  background-color: var(--secondary-color);
}
button.player_leagues.active {
  background-color: var(--fourth-color);
  color: var(--third-color);
}
h4.roster {
  color: var(--fourth-color);
  text-shadow: 0 0 .25em var(--secondary-color);
  margin-top: 1em;
  font-size: 125%;
}
p.header {
  font-weight: 900;
  color: var(--fifth-color);
  text-shadow: 0 0 .5em var(--primary-color);
}
