.sliderwrapper {
    height: fit-content;
    border: .25em solid var(--secondary-color);
    padding: 1em 0 1em 0;
    margin: .5em;
    cursor: pointer;
    border-radius: 1.5em;
    background: var(--third-color);
    box-shadow: 0 0 .5em var(--fourth-color), inset 0 0 1.5em var(--primary-color);

}

span.option {
    color: var(--fifth-color);
    height: fit-content;
    margin: 0;
    padding: .5em;
    border-radius: 1em;
    text-shadow: 0 0 .35em var(--secondary-color);
    width: 30%;
}

span.selected {
    background: var(--secondary-color);
    padding: 1em;
    margin: 0;
    border-radius: 1.5em;
    border: .25em solid var(--fourth-color);
    color: var(--fifth-color);
    overflow: hidden;
    font-weight: 900;
    text-shadow: 0 0 .1em var(--third-color);
    box-shadow: 0 0 1em var(--primary-color);
}

@media only screen and (max-width: 600px) {
.sliderwrapper {
    font-size: xx-small;
}
}